<a href="/auth/logout">
  <button class="button is-link" type="submit">
    <i class="fas fa-sign-out-alt"></i> Logout
  </button>
</a>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css"
/>
<style>
  .is-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
