<!DOCTYPE html>
<html>
  <style>
    .main-h1 {
      font-size: 32px;
      margin-top: 100px;
    }

    .joyy-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 11%;
      margin-top: 30px;
    }

    p {
      font-size: 1.6rem;
    }
  </style>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/makerrz@4.0.2/dist/css/makerrz.min.css
    "
    />
    <link rel="icon" href="https://www.plexicz.com/joy.png" />
    <title>Joyy - Home</title>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="https://www.plexicz.com/joy.png" height="28" />
        </a>
        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item"> Home </a>
          <a href="/commands" class="navbar-item"> Commands</a>
          <a href="/dashboard" class="navbar-item"> Dashboard </a>
          <a href="/premium" class="navbar-item"> Premium </a>

          <div class="navbar-item has-dropdown is-hoverable"></div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a href="/invite" class="button is-warning is-focused">
                <strong><i class="fas fa-plus"></i> Invite Me</strong>
              </a>
              <a href="/auth">
                <button class="button is-info">
                  <span class="icon is-small">
                    <i class="fab fa-discord"></i>
                  </span>
                  <span>Login</span>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <h1 class="text-center font-open main-h1">Joyy</h1>
      <img class="joyy-img" src="https://www.plexicz.com/joy.png" />
      <p class="text-center mt-4 font-abel">
        <i>An super smart bot for discord created with discord.js</i>
      </p>
      <br />
      <div class="buttons is-centered">
        <a href="/invite" class="button is-success is-focused is-centered"
          ><i class="fas fa-plus"></i> Invite Me</a
        >
        <a
          href="/auth"
          class="button is-warning is-focused dashboard-btn is-centered"
          ><i class="fas fa-arrow-right"></i> Go to Dashboard</a
        >
      </div>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );

        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach((el) => {
            el.addEventListener("click", () => {
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              el.classList.toggle("is-active");
              $target.classList.toggle("is-active");
            });
          });
        }
      });
    </script>
  </body>
</html>
